:root {
  --switch-base-size: 14px;
  --switch-track-width: calc(var(--switch-base-size) * 2.5);
  --switch-track-height: var(--switch-base-size);
  --switch-handle-size: calc(var(--switch-base-size) * 1.3);
  
  --switch-track-color: var(--dark-800);
  --switch-track-checked-color: var(--primary-500);
  --switch-handle-color: var(--white);
  --switch-handle-checked-color: var(--primary-200);
  --switch-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.Switch {
  display: inline-block;
  position: relative;
}

.Switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.Track {
  width: var(--switch-track-width);
  height: var(--switch-track-height);

  background-color: var(--switch-track-color);
  border-radius: var(--switch-track-height);
  
  position: relative;
  transition: 0.3s;
  display: block;
}

.Handle {
  position: absolute;
  top: 50%;

  left: 0px;
  transform: translateY(-50%);
  transition: left 0.3s;
  
  width: var(--switch-handle-size);
  height: var(--switch-handle-size);
  
  background-color: var(--switch-handle-color);
  border-radius: 50%;
  box-shadow: var(--switch-shadow);
}

input:checked + .Track {
  background-color: var(--switch-track-checked-color);  
}
input:checked + .Track .Handle {
  left: calc(var(--switch-track-width) - var(--switch-handle-size));
  background-color: var(--switch-handle-checked-color);
}
