.Header {
  background-color: var(--white);
  border-bottom: 1px solid var(--dark-800);
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}