.QRCodeCard {
  background-color: var(--white);
  border-radius: 15px; 
}

.Image {
  aspect-ratio: 1;
}

.Body {
  padding: 16px;
}

.Title {
  color: var(--dark-100);
  word-break: break-word;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.1;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.Scans {
  font-size: 14px;
  color: var(--dark-100);
}
.Date {
  font-size: 14px;
  color: var(--dark-300);
}