.NotificationCard {
  background-color: var(--white);
  border-left: 5px solid var(--border-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  color: var(--dark-100);

  padding: 8px;
  padding-left: 13px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;

  animation: appear 0.3s forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.Success {
  --border-color: var(--success-color);
}
.Failure {
  --border-color: var(--failure-color);
}
.Warning {
  --border-color: var(--warning-color);
}
.Info {
  --border-color: var(--info-color);
}
