.QRCodeAnalyticsEditor {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: var(--gap);
}

.Form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.Field {
  width: 100%;
}

.Colors {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}
.ColorField {
  width: 100%;
}

.Downloads {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}
