.QRCodeGenerationResult {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-weight: 600;
  margin-bottom: 20px;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

.QRCode {
  --size: 300px;

  width: var(--size);
  height: var(--size);
  flex: 0 0 var(--size);

  background-color: var(--dark-800);
  border-radius: 15px;
  overflow: hidden;
}

.Downloads {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap);
}

.Caption {
  text-align: center;
}
